:root{
    --body-color:#E4E9F7;
    --shell-color:#FFF;
    --primary-color:#695CFE;
    --primary-color-light:#F6F5FF;
    --toggle-color:#DDD;
    --text-color:#707070;
    --border-color:#E6E5E5;
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: var(--body-color);
}
.icon,.text {
    color:var(--text-color);
}
.icon {
    display: flex;
    height: 100%;
    min-width: 60px;
    justify-content: center;
    align-items: center;
    font: 300 23px "";
}

nav {
    position: fixed;
    top:0;
    left:0;
    width: 250px;
    height: 100vh;
    padding: 10px 14px;
    background-color:var(--shell-color);
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

nav.close {
    width: 88px;
}

nav.close .text{
    opacity: 0;
}

.header .user {
    display: flex;
    align-items: center;
}
.header .user .userImage {
    border-radius: 5%;
}
.header .user .userImage img{
    width: 45px;
    border-radius: 5px;
}
.header .user .userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}
nav .toggle {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(180deg);
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

nav.close .toggle {
    transform:translate(-50%,-50%) rotate(0deg);
}

nav ul li{
    list-style: none;
    display: flex;
    height: 50px;
    align-items: center;
}

.searchArea{
    margin-top: 40px;
    background-color: var(--primary-color-light);
    cursor:pointer;
    border-radius:6px;
    height: 50px;
    display: flex;
}

.searchArea input{
    width: 100%;
    height: 100%;
    outline: none;
    border:none;
    background-color: var(--primary-color-light);
    font:500 17px "";
}

nav .TopArea .functionList {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

nav .TopArea .functionList li{
    border-radius: 6px;
}
nav .TopArea .functionList li:hover{
    background-color: var(--primary-color);
}

nav .TopArea .functionList li:hover .text,
nav .TopArea .functionList li:hover .icon{
    color: var(--shell-color);
}
nav .bottomFunction {
    border-top: 1px solid var(--border-color);
}
nav .bottomFunction ul li:first-child {
    border-radius: 6px;
}
nav .bottomFunction ul li:first-child:hover{
    background-color: var(--primary-color);
}

nav .bottomFunction ul li:first-child:hover .text,
nav .bottomFunction ul li:first-child:hover .icon{
    color: var(--shell-color);
}

.mode {
    position:relative;
}
.sun-moon {
    width: 60px;
    height: 50px;
}
.sun-moon .icon {
    position: absolute;
}
.sun-moon .sun{
    opacity: 0;
}

.switch {
    position: absolute;
    right: 0;
    width: 40px;
    height: 22px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch::before{
    content:"";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position:absolute;
    left: 5px;
    top: 50%;
    transform:translateY(-50%);
    background-color: var(--shell-color);
}

.dark .sun-moon .sun{
    opacity: 1;
}
.dark .sun-moon .moon{
    opacity: 0;
}
.dark .switch::before{
    left:20px;
}