:root {
    --body-color:#E4E9F7;
    --shell-color:#FFF;
    --primary-color:#695CFE;
    --toggle-color:#DDD;
    --text-color:#707070;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.dark {
    --body-color:#202224;
    --shell-color:#171717;
    --primary-color:#3A3B3C;
    --primary-color-light:#3A3B3C;
    --toggle-color:#FFF;
    --text-color:#CCC;
}

body{
    width:100%;
    height:100vh;
    background-color:var(--body-color);
}

.close {
    width: 88px;
}

.shell{
    background-color: var(--shell-color);
    height: 100%;
    transition: all .3s ease;
}

.shell.close  .text {
    opacity: 0;
}

.userImage, .icon {
    min-width: 60px;
    border-radius: 6px;
}

.text{
    font:500 17px "";
    white-space: nowrap;/*避免中文自动换行*/
}

.text,.icon {
    color:var(--text-color);
    transition:all .3s ease;
}

nav{
    width: 250px;
    padding: 10px 14px;
    position: fixed;
    top:0;
    left: 0;
}

.header{
    position:relative;
}

ul {
    list-style: none;
}
.user {
    display: flex;
}
.userImage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user .userImage img {
    width: 45px;
    border-radius: 6px;
}
.user .userInfo {
    display: flex;
    flex-direction: column;
}
.close .user .userInfo {
    opacity: 0;
}

.userName {
    margin-top:2px;
    font:600 18px;
}

.userRole{
    font-size:20px;
    margin-top: -2px;
    display: block;
}

.header .toggle {
    width:25px;
    height:25px;
    border-radius: 50%;
    position:absolute;
    top:50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    transition:all .3s ease;
}

.shell.close .header .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.functionArea {
    margin-top:40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.functionList li{
    height:50px;
    margin-top: 10px;
}
.functionList li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius:6px;
}

.functionList li a:hover{
    background-color: var(--primary-color);
}

.functionList li a:hover .icon,
.functionList li a:hover .text{
    color:var(--shell-color);
}

.dark .functionList li a:hover .icon,
.dark .functionList li a:hover .text{
    color:#CCC;
}

.searchArea{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--primary-color-light);
    cursor: pointer;
}
.searchArea input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color:var(--text-color);
}

.shell.close .searchArea input{
    opacity: 0;
}
.icon {
    height: 100%;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font:200 23px "";/*因为fontAwesome是字符图标 这里的23px实际效果是放大图标*/
}

.modeSwitch {
    display: flex;
    align-items: center;
    position:relative;
}
.sun-moon{
    height: 50px;
    width: 60px;
}
.modeSwitch .sun-moon .icon{
    position:absolute;
}
.modeSwitch .sun-moon .icon.sun {
    opacity: 0;
}

.toggle-switch{
    position:absolute;
    right: 0;
    height:100%;
    min-width:60px;
    border: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch {
    position:relative;
    display: inline-block;
    width:40px;
    height: 22px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch::before{
    content:"";
    position:absolute;
    height: 15px;
    width:15px;
    border-radius: 50%;
    top: 50%;
    left:5px;
    transform: translateY(-50%);
    background-color: var(--shell-color);
    transition:all .3s ease;
}

.dark .modeSwitch .sun-moon .icon.sun {
    opacity: 1;
}

.dark .modeSwitch .sun-moon .icon.moon {
    opacity: 0;
}
.dark .switch::before{
    left:20px;
}

